.editor-panel {
  position: fixed;
  top: 30px;
  left: 400px;
  bottom: 0;
  width: calc(100% - 400px);
  overflow-x: hidden;
  overflow-y: scroll;
}


.row {
  height: 30px;
}

.row > div {
  position: absolute;
  display: inline-block;
  border-bottom: 1px solid lightgray;
  height: 30px;
}

.row .language {
  left: 0;
  width: 100px;
  border-right: 1px solid lightgray;
  padding: 0 5px;
  line-height: 30px;
}
.row .translation {
  left: 100px;
  width: calc(100% - 100px);
}

.row input[type="text"] {
  height: 30px;
  padding: 0 5px;
  border: 1px solid lightgray;
  width: 100%;
}
