


.btn {
  width: 50%;
  border-bottom: 1px solid lightgray;
}


.panel {
  display: block;
  position: fixed;
  bottom: 0;
  top: 30px;
  border-right: 1px solid lightgray;
}




.btn.add {
  color: darkgreen;
}
.btn.add:hover,
.btn.add:focus {
  background-color: #ccddcc;
}
.btn.add:active {
  background-color: #aaddaa;
}

.btn.remove {
  color: darkred;
}
.btn.remove:hover,
.btn.remove:focus {
  background-color: #ddcccc;
}
.btn.remove:active {
  background-color: #ddaaaa;
}

.errorMsg {
  color: red;
}
