.btn.session {
  float: right;
}

.panel.session {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.btn.export {
  color: darkgreen;
}
.btn.export:hover,
.btn.export:focus {
  background-color: #ccddcc;
}
.btn.export:active {
  background-color: #aaddaa;
}
