<div class="panel session">
  <div class="btn"><strong>Gs-Ngx-Translate-i18n-Editor</strong></div>
  |
  <button class="btn newProject" (click)="newProject()">
    <i class="fas fa-folder-plus"></i> {{ "newProject" | translate }}
  </button>
  <button class="btn openProject" (click)="openProject()">
    <i class="fas fa-folder-open"></i> {{ "openProject" | translate }}
  </button>
  <button class="btn saveProject" (click)="saveProject()">
    <i class="fas fa-save"></i> {{ "saveProject" | translate }}
  </button>
  |
  <button class="btn import" (click)="import()">
    <i class="fas fa-file-import"></i> {{ "import" | translate }}
  </button>
  <button class="btn export" (click)="export()">
    <i class="fas fa-file-export"></i> {{ "export" | translate }}
  </button>
</div>
