<div class="panel session">
  <div class="btn"><strong>Ngx-Translate i18n Editor</strong></div>
  |
  <button class="btn newProject" (click)="newProject()">
    <fa-icon [icon]="fasFolderPlus"></fa-icon>
    {{ "newProject" | translate }}
  </button>
  <button class="btn openProject" (click)="openProject()">
    <fa-icon [icon]="fasFolderOpen"></fa-icon>
    {{ "openProject" | translate }}
  </button>
  <button class="btn saveProject" (click)="saveProject()">
    <fa-icon [icon]="fasSave"></fa-icon> {{ "saveProject" | translate }}
  </button>
  |
  <button class="btn import" (click)="import()">
    <fa-icon [icon]="fasFileImport"></fa-icon> {{ "import" | translate }}
  </button>
  <button class="btn export" (click)="export()">
    <fa-icon [icon]="fasFileExport"></fa-icon> {{ "export" | translate }}
  </button>

  <div class="spacer"></div>

  <button class="btn about" (click)="about()">
    <fa-icon [icon]="faInfoCircle"></fa-icon> {{ "about" | translate }}
  </button>
</div>
